.flex {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}

.flex-2 {
  display: flex;
}

.flex-2 p {
  margin-right: 15px;
}

.center {
  text-align: center;
}

.padding {
  padding: 40px 0;
}

.grid {
  display: grid;
  grid-template-columns: 70% 25%;
  grid-gap: 5%;
}

.button {
  margin: 6px 4px;
}

.favorite-count span {
  margin-left: 4px;
}

.article-details {
  margin-bottom: 10px;
  border-bottom: 1px solid #c8c8ee;
  padding: 12px;
}
.article-title {
  color: #222527;
  font-size: 24px;
  font-weight: 600;
}
.article-description {
  font-weight: 300;
  color: #999999;
  font-size: 18px;
}
.article-bottom {
  margin: 18px 0;
  font-size: 12px;
  color: #ec1212;
}
.article-bottom :hover {
  cursor: pointer;
}
